<Page class="page"
    navigatingTo="onNavigatingTo"  
    xmlns="http://schemas.nativescript.org/tns.xsd">

    <ActionBar class="action-bar">
        <Label class="action-bar-title" text="Home"></Label>
    </ActionBar>

    <GridLayout rows="auto,*" columns="auto,*">
        <Label text="Font Size:" row="1" col="1" />
        <Slider value="{{fontSize}}" minValue="10" maxValue="32" row="1" col="2" />
    </GridLayout>
</Page>
